@page
@model RazorCore.Pages.CategoryP.NewCategoryModel

<form method="post" class="p-3 mt-4">
    <div class="row pb-3">
        <h2 class="text-alert-primary p-lg-3">Create a new Category</h2>
        <hr />
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Category.Name"></label>
        
        <input type="text" asp-for="Category.Name" class="form-control" />
        <span asp-validation-for="Category.Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-info" > Create Category</button>
        <a asp-page="Index" class="btn btn-primary">Back to Categories</a>
    </div>

</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}