@page
@model RazorCore.Pages.Category.IndexModel
@{
}
<div class="row-12 bg-dark border-2">
    <h1 class="text-white">Categories</h1>
</div>
<div class="row-12">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                
                <th>Category Name</th>
                <th>Total Products</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var C in Model.categories)
            {
                <tr>
                    <td>@C.Name</td>
                    <td>@C.Products.Count()</td>
                </tr>
            }
            </tbody>
            </table>
</div>
